
{% extends "base.html" %}

{% block content %}
<h2 style="text-align: center;">Selamat Datang di Menu Pengembalian </h2>

<br>
<br>
<table class="table table-striped">
 <thead>
  <tr>
    <th>No.</th>
    <th>Nama Peminjam</th>
    <th>Kelas Peminjam</th>
    <th>ISBN</th>
    <th>Judul Buku</th>
    <th>Penulis</th>
    <th>Tanggal Pinjam</th>
    <th>Tanggal Kembali</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
 </thead>
 <tbody>
  {% for loan in loans %}
  <tr>
    <td>{{loop.index}}</td>
    <td>{{loan.name}}</td>
    <td>{{loan.class_name}}</td>
    <td>{{loan.ISBN}}</td>
    <td>{{loan.title}}</td>
    <td>{{loan.author}}</td>
    <td>{{loan.loan_date}}</td>
    <td>{{loan.return_date}}</td>
    <td>
      {% if loan.is_return == False %}
      <span class="badge badge-danger">Belum Kembali</span>
      {% else %}
      <span class="badge badge-success">Sudah Kembali</span>
      {% endif %}
    </td>
    <td>
      <form method="POST" action="{{ url_for('main.pengembalian', id=loan.id) }}" style="display:inline-block;">
        <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
        <button type="submit" class="btn btn-primary">Kembalikan</button>
    </form>
    </td>
  {% endfor %}
 </tbody>

</table>

{% endblock %}

{% block script %}
<script>
  document.getElementById("menu-beranda").classList.remove("active");
  document.getElementById("menu-rekomendasi").classList.remove("active");
  document.getElementById("menu-peminjaman").classList.remove("active");
  document.getElementById("menu-pengembalian").classList.add("active");
  // document.getElementById("menu-registrasi").classList.remove("active");
  
</script>
{% endblock %}