{% extends "base.html" %}
{% block content %}

<div id="content-loan">
<br>
<br>
<h2 style="text-align: center;">halo <span id="user-name"></span>, selamat datang di Menu Peminjaman </h2>
<br>
<div class="table-container" style="text-align: center;">
     <h3>Daftar Peminjaman Buku</h3>
     <br>
     <input type="text" id="search" placeholder="ISBN Buku">
     <br>
     <br>

     <table class="table table-striped">
        <thead>
          <tr>
            <th>No</th>
            <th>ISBN</th>
            <th>Judul Buku</th>
            <th>Publisher</th>
            <th>Author</th>
            <th>Tanggal Pinjam</th>
            <th>Tanggal Kembali</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody id="table-body">
        </tbody>

     </table>
     <span id="csrf-token" hidden>{{ csrf_token() }}</span>
    <button class="tombol-scan" style="text-align: center;" onclick="saveData()">Save</button>
<!-- tombol scan end -->
 </div>
</div>

 <div id="content-warning" hidden>
  <br>
  <br>
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <h1 class="text-center">Anda Belum Login, silahkan Login</h1>
  </div>

</div>
{% endblock %}

{% block script %}
<script>
  document.getElementById("menu-beranda").classList.remove("active");
  document.getElementById("menu-rekomendasi").classList.remove("active");
  document.getElementById("menu-peminjaman").classList.add("active");
  document.getElementById("menu-pengembalian").classList.remove("active");
  // document.getElementById("menu-registrasi").classList.remove("active");

  user_name = sessionStorage.getItem("user_name")
  if(user_name==null){
    document.getElementById("content-loan").hidden = true
    document.getElementById("content-warning").hidden = false
  }
  else{
    document.getElementById("content-loan").hidden = false
    document.getElementById("content-warning").hidden = true
  }


  document.addEventListener("DOMContentLoaded",()=>{
    document.getElementById("user-name").innerText = sessionStorage.getItem("user_name")
    document.getElementById("search").addEventListener("keypress",(e)=>{
      if(e.key=="Enter"){
        search_value = document.getElementById("search").value
        console.log(search_value)
        getBookData(search_value)
      }
    })

    table_body = document.getElementById("table-body")
    books_data = JSON.parse(sessionStorage.getItem("books"))
    if(books_data!=null){
      console.log(books_data)
      books_data.forEach((element,idx) => {
      
      tr = document.createElement("tr")
      tr.innerHTML = `
        <td>${idx+1}</td>
        <td>${element.ISBN}</td>
        <td>${element.title}</td>
        <td>${element.publisher}</td>
        <td>${element.author}</td>
        <td>${element.borrow_date}</td>
        <td>${element.return_date}</td>
        <th>
          <button class="btn btn-danger" onclick="deleteItem(${idx})"> Delete </button>
        </th>
      `
      table_body.appendChild(tr)
    });
    }
    
  })

  function deleteItem(idx){
    books_data = JSON.parse(sessionStorage.getItem("books"))
    books_data.splice(idx,1)
    sessionStorage.setItem("books",JSON.stringify(books_data))
    window.location.reload()
  }

  function saveData(){
    books_data = JSON.parse(sessionStorage.getItem("books"))
    if(books_data!=null){
      books_data.forEach((element,idx) =>{
        fetch('/loan',{
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': document.getElementById("csrf-token").innerText
          },
          body: JSON.stringify({
            fingerprint_id: sessionStorage.getItem("user_fingerprint"),
            book_id: element.id,
            loan_date: element.borrow_date,
            return_date: element.return_date
          })
        })
        .then(response => response.json())
        .then(data=>{
          console.log(data)
        })
        .catch(error=>{
          console.log(error)
        })
      })
      sessionStorage.removeItem("books")
      window.location.reload()
    }
  }

  function saveBook(data){
    books_data = JSON.parse(sessionStorage.getItem("books"))
    if(books_data==null){
      books_data = []
    }
    books_data.push(data)
    sessionStorage.setItem("books",JSON.stringify(books_data))
    window.location.reload()
  }



  function getBookData(isbn){
    fetch('/get_books/'+isbn,{
      method: 'GET',
    })
    .then(response => response.json())
    .then(data=>{
      console.log(data)
      if(data.message == "success"){
        console.log(data)
        current_date = new Date()
        return_date = new Date()
        return_date.setDate(current_date.getDate()+7)
        data.borrow_date = dateFormat(current_date)
        data.return_date = dateFormat(return_date)
        saveBook(data)
      }
    })
    .catch(error=>{
      console.log(error)
    })
  }

  function dateFormat(date){
    return date.getDate()+"-"+(date.getMonth()+1)+"-"+date.getFullYear()
  }

</script>
{% endblock %}