{% extends "base.html" %}

{% block content %}
<br>
<br>
<div class="card-form">
    <div class="form-isi">
        <h3>Registrasi</h3>
        <h4>Isikan data dengan lengkap</h4>
        <form method="POST" action="{{ url_for('main.registrasi') }}">
          <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />  
            <fieldset>
                <input placeholder="Nama" type="text" name="name" tabindex="1" required autofocus>
            </fieldset>
            <fieldset>
                <input placeholder="Kelas" type="text" name="class_name" tabindex="2" required>
            </fieldset>
            <fieldset>
                <input placeholder="Alamat" type="text" name="address" tabindex="3" required>
            </fieldset>
            <fieldset>
                <input placeholder="Fingerprint" type="text" name="fingerprint" tabindex="4" required>
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Registrasi</button>
            </fieldset>
        </form>
    </div>
</div>

<br>

{% endblock %}

{% block script %}
<script>
  document.getElementById("menu-beranda").classList.remove("active");
  document.getElementById("menu-rekomendasi").classList.remove("active");
  document.getElementById("menu-peminjaman").classList.remove("active");
  // document.getElementById("menu-pengembalian").classList.remove("active");
  document.getElementById("menu-registrasi").classList.add("active");
</script>
{% endblock %}
