{% extends "base.html" %}

{% block content %}
<div id="content-recommendation">
  <br>
  <div class="rekomendasi-title">
      Rekomendasi buku kami untukmu
  </div>
  <!-- card book -->
  <div class="card-container">

    {% for book in books %}
    <div class="cardbaru">
      <div class="kover-buku">
        <img src="{{book.image_url}}" alt="Book Cover" class="card-image">
        <div class="detail-buku">
          <h4><b>{{book.title}}</b></h4>
          <p>{{book.author}}</p>
          <p>{{book.publisher}}</p>
          <p>{{book.year}}</p>
          <p>{{book.ISBN}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
</div>

</div>


<!-- card book end -->

{% endblock %}

{% block script %}
<script>
  document.getElementById("menu-beranda").classList.remove("active");
  document.getElementById("menu-rekomendasi").classList.add("active");
  document.getElementById("menu-peminjaman").classList.remove("active");
  document.getElementById("menu-pengembalian").classList.remove("active");
  // document.getElementById("menu-registrasi").classList.remove("active");
  
  user_name = sessionStorage.getItem("user_name")


</script>
{% endblock %}