{% extends "base.html" %}

{% block content %}
<div id="content-recommendation">
  <br>
  <div class="rekomendasi-title">
      Buku Populer Kami
  </div>
  <!-- card book -->
  <div class="card-container">

    {% for book in books %}
    <div class="cardbaru">
      <div class="kover-buku">
        <img src="{{book.image_url}}" alt="Book Cover" class="card-image">
        <div class="detail-buku">
          <h4><b>{{book.title}}</b></h4>
          <p>{{book.author}}</p>
          <p>{{book.publisher}}</p>
          <p>{{book.year}}</p>
          <p>{{book.ISBN}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
</div>

<div class="d-flex justify-content-center">
  <a class="btn btn-primary" id="book-recommendation">Get Recommendation Book</a>
</div>
</div>

<div id="content-warning" hidden>
  <br>
  <br>
  <div class="container-fluid d-flex justify-content-center align-items-center">
    <h1 class="text-center">Anda Belum Login, silahkan Login</h1>
  </div>

</div>


<!-- card book end -->

{% endblock %}

{% block script %}
<script>
  document.getElementById("menu-beranda").classList.remove("active");
  document.getElementById("menu-rekomendasi").classList.add("active");
  document.getElementById("menu-peminjaman").classList.remove("active");
  document.getElementById("menu-pengembalian").classList.remove("active");
  // document.getElementById("menu-registrasi").classList.remove("active");
  
  user_name = sessionStorage.getItem("user_name")
  console.log(user_name)
  if(user_name==null){
    document.getElementById("content-recommendation").hidden = true
    document.getElementById("content-warning").hidden = false
  }
  else{
    document.getElementById("content-recommendation").hidden = false
    document.getElementById("content-warning").hidden = true
  }

  document.addEventListener("DOMContentLoaded",()=>{
    book_recommendation = document.getElementById("book-recommendation")
    book_recommendation.href = "/get_recommendation/"+sessionStorage.getItem("user_fingerprint")
  })

</script>
{% endblock %}